/* -------- */
/* brightbox */
/* -------- */

/*-------------- reset ------------------*/

* {
  box-sizing: border-box;
}

html,body,div,span,h1,h2,h3,h4,h5,h6,
p,img,strong,ol,ul,li,form,label,article,aside,
canvas,footer,header,hgroup,menu,nav,section {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

/*-------------- end reset ---------------*/

/*-------------- global ------------------*/

body {
  font-family: helvetica, arial, sans-serif;
  margin: 20px;
}

button {
  margin: 20px 0;
  padding: 5px;
}

.brightbox-bg {
  background: rgba( 0, 0, 0, .4 );
  cursor: pointer;
  height: 100%;
  overflow: hidden;
  position: absolute;
    top: 0;
    left: 0;
  width: 100%;
  z-index: 100;
}

.brightbox-thumb {
  cursor: pointer;
}

.brightbox-img {
  -webkit-filter: drop-shadow( 5px 5px 5px #777 );

  filter: drop-shadow( 5px 5px 5px #777 );
  position: absolute;
  z-index: 101;
}

.brightbox-close {
  background: #000;
  border: 2px solid #fff;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  -webkit-filter: drop-shadow( 5px 5px 5px #777 );

  filter: drop-shadow( 5px 5px 5px #777 );
  margin: 0;
  padding: 3px 6px 1px 6px;
  position: absolute;
  z-index: 102;
}
